// COLORS
$color1: #fed16a;
$color2: #f59b69;
$color3: #ff908f;
$color1Hover: #dcb55c;
$color2Hover: #a66947;
$color3Hover: #ad6261;
$colorGray1: #212a33;
$colorGray2: #393d46;
$colorGray3: #464a53;
$colorGray4: #5d616d;
$colorGray5: #eef1f3;
// END COLORS