
/************Estilos globales de botones**************/
.botonSolido{
    background-color: $color1;
    color: $colorGray2;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 50px;
    min-width: 100px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.botonSolido:hover{
    background-color: $color3;
}